.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS Added here for simplicity */

.application {
  background-image: linear-gradient(to right, #2a2a2a, #191919);
  min-height: 100vh;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerRowFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.feedbackForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  width: 60vh;
  /* height: 70vh; */
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.formTitle {
  flex: 0 1 auto;
  color: #bb8ce5;
  margin: 20px;
  text-align: center;
}

.formInput {
  flex: 1 1 auto;
  margin: 20px;
}

.formSubmitWrapper {
  flex: 0 1 auto;
  display: block;
  margin: 20px;
}

.submitButton {
  background: #bb8ce5;
  border-color: #bb8ce5;
}

.submitButton:hover {
  background: #aa65e7;
  border-color: #aa65e7;
}

.submitButton:active {
  background: #aa65e7;
  border-color: #aa65e7;
}

.form-control:focus {
  outline: none !important;
  border:2px solid #c49de6;
  box-shadow: 0 0 10px #bb8ce5;
}

.animatedObject {
  height: 12px;
  width: 12px;
  background-color: #aa65e7;
  border-radius: 50%;
  transform: translateY(-30px);
}